kind: Template
apiVersion: v1
metadata:
  name: hello-world-project-template
objects:
  - apiVersion: apps.openshift.io/v1
    kind: DeploymentConfig
    metadata:
      name: hello-world-canary
    spec:
      replicas: 2
      selector:
        deployment-config.name: hello-world-canary
      template:
        metadata:
          annotations:
            sidecar.istio.io/inject: "true"
          labels:
            app: hello-world
            deployment-config.name: hello-world-canary
            version: canary
        spec:
          containers:
          - image: hello-world
            name: default-container
      triggers:
      - type: ConfigChange
  - apiVersion: apps.openshift.io/v1
    kind: DeploymentConfig
    metadata:
      name: hello-world-production
    spec:
      replicas: 2
      selector:
        deployment-config.name: hello-world-production
      template:
        metadata:
          annotations:
            sidecar.istio.io/inject: "true"
          labels:
            app: hello-world
            deployment-config.name: hello-world-production
            version: production
        spec:
          containers:
          - image: hello-world
            name: default-container
      test: false
      triggers:
      - type: ConfigChange
  - apiVersion: v1
    kind: Service
    metadata:
      labels:
        app: hello-world
      name: hello-world-istio
    spec:
      ports:
      - name: web
        port: 8080
        protocol: TCP
        targetPort: 8080
      - name: metrics
        port: 8000
        protocol: TCP
        targetPort: 8000
      selector:
        app: hello-world
      type: LoadBalancer
  - apiVersion: image.openshift.io/v1
    kind: ImageStream
    metadata:
      name: hello-world